<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../../public/styleEjs.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario en ejs</title>
</head>
<body>
    <h2 class="h-2">Agrega un producto</h2>
    <div>
        <form action="/api/productos" method="post">
            nombre : <input type="text" name="nombre"><br>
            precio: <input type="text" name="precio"><br>
            imagen : <input type="file" name="imagen"><br>
        <button type="submit" class="button">Agregar!</button>
        </form>
    </div>
    <a href="/list"><button class="button">Mostrar todo!</button></a>
    <script src="../../main.js"></script>
</body>
</html>