<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./styleEjs.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body class="body-list">
    <%if(list.length==0){%>
        <h2>
            no hay productos
        </h2>
    <%} else{%>
        <table class="table">
            <tr>
                <th>nombre</th>
                <th>precio</th>
                <th>imagen</th>
            </tr>
            <% list.forEach((element) => {%>
                <tr>
                        <td><%=element.nombre%></td>
                        <td><%=element.precio%></td>
                        <td><%=element.imagen%></td>
                </tr>
            <%})%>
        </table>
    <%}%>
    <a href="/"><button class="boton-inicio">Inicio!</button></a>
</body>
</html>