*{
    margin:0;
    padding:0;
}

h2{
    color: rgb(249, 255, 130);
    margin-bottom:2rem;
    margin-top:3rem;
    margin-left:35rem;
}

body {
    background-color: rgb(128, 48, 255);
}

.container-form{
    background-color: rgba(249, 255, 130, 0.7);
    text-align:start;
    width:25%;
    margin-left: 30rem;
    padding:2rem;
    border:2px solid rgba(249, 255, 130);
    border-radius: 3%;
}

.inputs-name{
    padding:4px;
    margin:4px;
    width:95%;
}

.inputs-precio{
    padding:4px;
    margin:4px;
    margin-top:20px;
    width:95%;
}

.inputs-file{
    padding:4px;
    margin:4px;
    margin-top:20px;
}


.button-add{
    margin-top:2rem;
    margin-left:8rem;
}

.button{
    background-color:rgb(249, 255, 130);
    border:none;
    padding:5px;
    margin-top:2rem;
    color:black;
}

/*list.pug*/
*{
    margin:0;
    padding:0;
}

.body-list{
    background-color:rgb(128, 48, 255);
}

.table{
    background-color: rgba(89, 31, 0, 0.7);
    width:100%;
    color:white;
    text-align: center;
}

.categorys{
    margin:0;
    padding:0;
    text-align: center;
    font-size:45px;
}

.product{
    font-size: 35px;
}

.boton-inicio{
    background-color:rgb(249, 255, 130);
    width:20%;
    margin-left:40%;
    margin-top:5rem;
    border-radius: 5%;
    font-size: 45px;
}

/*Haciendolo vista a celular L*/

@media (max-width:425px){
    *{
        margin:0;
        padding:0;
    }

    .h-2{
        margin:0;
        padding:0;
        font-size: 45px;
    }

    .container_form{
        margin-right: 3rem;
    }
}